@-moz-document url-prefix() {
  html {
    font-size: 10.5px;
  }

  #dice {
    font-size: 95px !important;
  }

  #player-names {
    padding-left: 60px !important;
    padding-right: 0% !important;
  }

  #place-holder {
    margin-bottom: 20px !important;
  }

  #hand {
    padding-right: 20px !important;
  }

  .p {
    margin: 2px 0 0 23px !important;
  }

  .d {
    margin: -3px 0 0 23px !important;
  }

  .d li {
    font-size: 70%;
  }

  .p li {
    line-height: 0.2em !important;
  }
}

/* ------------------------ */

body {
  margin: 0;
  background-color: #ededed;
  background-image: url("../dice.jpg");
}

ul {
  list-style: none;
  padding-left: 0;
}

.hidden {
  display: none;
}

#header {
  height: 227px;
  width: 100%;
  padding-top: 132px;
  text-align: center;
  background-color: rgba(221, 221, 221, 0.9);
  position: fixed;
  top: 0;
  left: 0;
}

#game-wrap {
  margin-top: 358px;
}

input {
  width: 500px;
  font-size: 28px;
}

#dice {
  cursor: pointer;
  font-size: 140px;
  margin-top: -100px;
}

.bullet {
  display: inline-block;
  color: green;
  font-size: 180px;
  vertical-align: text-bottom;
  line-height: 158px;
}

#content {
  margin-top: 26px;
}

.red-die {
  display: inline-block;
  color: red;
}

.black-die {
  display: inline-block;
}

.markers {
  padding-left: 27px;
  line-height: 0.5em;
}

.markers span {
  cursor: pointer;
  font-size: 120px;
  letter-spacing: 0.3em;
}

#red-marker {
  color: tomato;
}

#green-marker {
  color: mediumseagreen;
}

#blue-marker {
  color: mediumpurple;
}

.btn {
  font-size: 18px;
  padding: 7px 18px 7px 18px;
}

#game-wrap {
  display: grid;
  grid-template-columns: 200px 1390px;
  padding-top: 50px;
}

#place-holder {
  margin-bottom: 18px;
}

#dummy {
  visibility: hidden;
}

#player-names {
  width: 140px;
  padding-left: 40px;
  padding-right: 20px;
}

#hand {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(8, auto);
  grid-column-gap: 60px;
}

.container {
  font-size: 16rem;
  margin-bottom: 15px;
}

.card {
  font-size: 16rem;
  text-align: center;
  line-height: 1em;
}

.red {
  color: red;
}

.black {
  color: black;
}

.dim {
  color: #eee;
}

.d {
  margin: -11px 0 3px 0;
  font-size: 26px;
}

.d li {
  text-align: right;
  line-height: 1.15em;
  color: blueviolet;
}

.d li.highlight {
  font-weight: 600;
  color: green;
}

.p {
  margin: -10px 0 0 23px;
  font-size: 28%;
  letter-spacing: 0.3em;
  text-align: center;
}

.p li {
  min-height: 28px;
  line-height: 0.41em;
}
