#header {
  visibility: hidden;
  height: 58%;
  padding-bottom: 0;
}

h2#prompts {
  font-size: 0.95em;
}

input {
  width: 85%;
  margin-bottom: 2%;
}

#red-marker {
  font-size: 110px;
  line-height: 0.23em;
}

#green-marker {
  font-size: 59px;
  line-height: 0.35em;
}

#blue-marker {
  font-size: 67px;
}

.btn {
  margin: 0 auto;
  font-size: 12px;
  padding: 5px 14px 5px 14px;
}

button[type="submit"] {
  display: block;
}

#dice h1 {
  font-size: 200%;
}

#game-wrap {
  zoom: 50%;
}

.marker-a {
  font-size: 35px;
  line-height: 0.49em;
}

.marker-b {
  font-size: 26px;
  line-height: 0.65em;
  letter-spacing: 5em;
  padding-right: 0 0.2em 0 0;
}

.marker-c {
  font-size: 23px;
  line-height: 0.85em;
}
